
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active" href="/">Wild Série</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('wild_index') }}">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("program_index")}}">Program</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("episode_index")}}">Episodes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("season_index")}}">Season</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path("actor_index")}}">Actors</a>
    </li>
</ul>


